.search-section {
  background: var(--color-bg-main-gradient);
  background-size: cover;
}

.search-container {
  max-width: 600px;
  background: rgba(255, 255, 255, 0.1);
}

.search-container:hover,
.search-container:focus-within {
  background: rgba(255, 255, 255, 0.2);
}

.search-input:focus,
.search-button:hover,
.search-button {
  background: transparent;
  border: none;
  box-shadow: none;
}
